* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

header {
  width: 100vw;
  height: 80px;
  background-color: #f9fcfb;
  display: flex;
  align-items: center;
  position: relative;
}
header .header__container-logo {
  display: flex;
  align-items: center;
  width: 85%;
}
header .header__container-logo h1 {
  font-size: 2.4rem;
  color: #fd5e53;
}
header .header__container-logo .container-logo--logo {
  font-size: 4.5rem;
  margin: 0 20px;
  color: #0097a7;
}
header .icon-menu {
  position: relative;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 0.2s;
}
header .icon-menu::before {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #0097a7;
  transform: 0.2s;
  transform: translateY(-10px);
  box-shadow: 0 10px 0 #0097a7;
}
header .icon-menu::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 3px;
  background-color: #0097a7;
  transform: 0.2s;
  transform: translateY(10px);
}
header .icon-menu.menu-active::before {
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 #fd5e53;
  background-color: #fd5e53;
}
header .icon-menu.menu-active::after {
  transform: translateY(0px) rotate(-45deg);
  background-color: #fd5e53;
}
header .container-menu {
  position: fixed;
  top: 20px;
  right: 0px;
}
header .container-menu .menu {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 80px;
  right: 0px;
  background-color: #f9fcfb;
  width: 180px;
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}
header .container-menu .menu .menu__list {
  width: 90%;
}
header .container-menu .menu .menu__list .list-items-categorias, header .container-menu .menu .menu__list .container-subcategorias li, header .container-subcategorias .container-menu .menu .menu__list li {
  width: 100%;
  text-align: center;
  list-style: none;
  padding: 10px 0;
}
header .container-menu .menu .menu__list .list-items-categorias .item-categoria, header .container-menu .menu .menu__list .container-subcategorias li .item-categoria, header .container-subcategorias .container-menu .menu .menu__list li .item-categoria {
  font-size: 2.2rem;
  display: inline-block;
  text-decoration: none;
  color: #fd5e53;
  font-weight: 500;
  transition: 0.5s;
}
header .container-menu .menu .menu__list .list-items-categorias:hover .item-categoria, header .container-menu .menu .menu__list .container-subcategorias li:hover .item-categoria, header .container-subcategorias .container-menu .menu .menu__list li:hover .item-categoria {
  color: #0097a7;
}
header .container-menu .menu.menu-list--active {
  top: 40px;
  visibility: visible;
  opacity: 1;
}
header .container-subcategorias {
  position: absolute;
  position: absolute;
  width: 160px;
  height: auto;
  right: 140px;
  background-color: #f9fcfb;
  text-align: center;
  display: none;
}
header .container-subcategorias li a {
  font-size: 1.8rem;
  display: inline-block;
  text-decoration: none;
  color: #fd5e53;
  font-weight: 500;
  transition: 0.5s;
}
header .container-subcategorias li:hover a {
  color: #0097a7;
}
header .list-items-categorias:hover .container-subcategorias, header .container-subcategorias li:hover .container-subcategorias {
  display: inline-block;
}

.navbar {
  width: 100vw;
  height: 50px;
  background-color: #b2ebf2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .navbar__search {
  margin-left: 20px;
  width: 60%;
  background-color: #f9fcfb;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar__search input {
  width: 150px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 0 15px;
  background-color: #f9fcfb;
}
.navbar .navbar__search .icon-search {
  font-size: 1.8rem;
  color: #0097a7;
}

.navbar--car,
.navbar--favorite {
  font-size: 2.4rem;
  color: #fd5e53;
  margin-left: 18px;
}

main {
  width: 90%;
  margin: 30px auto;
  padding-bottom: 50px;
}
main .container-products {
  display: grid;
  justify-content: center;
}
main .container-products .mount-products {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
main .container-products .product-card {
  width: 250px;
  min-width: 220px;
  max-width: 320px;
  height: 170px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: -1px 1px 6px 0px #afadad;
  border-radius: 20px;
  background-color: #f9fcfb;
}
main .container-products .product-card img {
  border-radius: 20px;
  width: 150px;
  height: 60px;
}
main .container-products .product-card h4 {
  font-size: 1.8rem;
  color: #0097a7;
}
main .container-products .product-card h5 {
  font-size: 1.4rem;
  color: #0097a7;
  opacity: 0.8;
}
main .container-products .product-card span {
  font-size: 1.2rem;
  color: #fd5e53;
}
main .container-products .product-card .fovorite-car {
  margin-top: 15px;
  width: 60%;
  display: flex;
  justify-content: center;
}
main .container-products .product-card .fovorite-car .fovorite-car--favorite {
  font-size: 3rem;
  color: #0097a7;
}
main .container-products .product-card .fovorite-car .fovorite-car--favorite:hover {
  color: #fd5e53;
}
main .container-products .product-card .fovorite-car .fovorite-car--car {
  margin-left: 15px;
  font-size: 3rem;
  color: #fd5e53;
}
main .container-products .product-card .fovorite-car .fovorite-car--car:hover {
  color: #0097a7;
}

.table-car,
.table-favorite {
  display: none;
}

.table-favorite--active,
.table-active {
  display: table;
  width: 340px;
  text-align: center;
}

.btn-delete--favorite {
  border: none;
  background-color: #fd5e53;
  width: 17px;
  height: 17px;
  text-align: center;
  color: #f9fcfb;
  font-weight: 500;
}

.btn-add,
.btn-subtract {
  border: none;
  width: 15px;
  height: 15px;
  background-color: #fd5e53;
  color: #f9fcfb;
  font-weight: 500;
  text-align: center;
}

.btn-add {
  background-color: #0097a7;
}

.empty-car {
  width: 100px;
  height: 25px;
  background-color: #fd5e53;
  color: #f9fcfb;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 20px;
}

.footer {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  background-color: #b2ebf2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer--icon-github,
.footer .footer--icon-twitter,
.footer .footer--icon-instagram {
  font-size: 2.8rem;
  margin-left: 25px;
  color: #fd5e53;
}

/*# sourceMappingURL=styles.css.map */
