$blue-dark: #0097a7;
$light-green: #b0eacd;
$light-blue: #b2ebf2;
$white: #f9fcfb;
$orange: #fd5e53;
$color-shodow: #afadad;
$tabletMediaQuerie: "(min-width: 768px)";
$DesktopMediaQuerie: "(min-width: 1024px)";
