@import "./_variables.scss";
@import "./mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100vw;
  height: 100vh;
}

//********************* Styles header
header {
  width: 100vw;
  height: 80px;
  background-color: $white;
  display: flex;
  align-items: center;
  position: relative;

  & .header__container-logo {
    display: flex;
    align-items: center;
    width: 85%;

    & h1 {
      font-size: 2.4rem;
      color: $orange;
    }

    & .container-logo--logo {
      font-size: 4.5rem;
      margin: 0 20px;
      color: $blue-dark;
    }
  }

  & .icon-menu {
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 0.2s;
  }

  & .icon-menu::before {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: $blue-dark;
    transform: 0.2s;
    transform: translateY(-10px);
    box-shadow: 0 10px 0 $blue-dark;
  }
  & .icon-menu::after {
    content: "";
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: $blue-dark;
    transform: 0.2s;
    transform: translateY(10px);
  }

  & .icon-menu.menu-active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 $orange;
    background-color: $orange;
  }

  & .icon-menu.menu-active::after {
    transform: translateY(0px) rotate(-45deg);
    background-color: $orange;
  }

  & .container-menu {
    position: fixed;
    top: 20px;
    right: 0px;

    & .menu {
      position: absolute;
      display: flex;
      justify-content: center;
      top: 80px;
      right: 0px;
      // padding: 10px 20px;
      background-color: $white;
      width: 180px;
      border-radius: 15px;
      transition: 0.5s;
      visibility: hidden;
      opacity: 0;

      & .menu__list {
        width: 90%;
        & .list-items-categorias {
          width: 100%;
          text-align: center;
          list-style: none;
          padding: 10px 0;

          & .item-categoria {
            font-size: 2.2rem;
            display: inline-block;
            text-decoration: none;
            color: $orange;
            font-weight: 500;
            transition: 0.5s;
          }
          &:hover .item-categoria {
            color: $blue-dark;
          }
        }
      }
    }

    // & .menu::before {
    //   content: "";
    //   position: absolute;
    //   top: 3px;
    //   right: 65px;
    //   width: 20px;
    //   height: 20px;
    //   background-color: $white;
    //   transform: rotate(45deg);
    // }

    & .menu.menu-list--active {
      top: 40px;
      visibility: visible;
      opacity: 1;
    }
  }

  & .container-subcategorias {
    position: absolute;
    position: absolute;
    width: 160px;
    height: auto;
    // top: 0px;
    right: 140px;
    background-color: $white;
    text-align: center;
    display: none;

    & li {
      @extend .list-items-categorias;

      & a {
        font-size: 1.8rem;
        display: inline-block;
        text-decoration: none;
        color: $orange;
        font-weight: 500;
        transition: 0.5s;
      }

      &:hover a {
        color: $blue-dark;
      }
    }
  }

  & .list-items-categorias:hover .container-subcategorias {
    display: inline-block;
  }
}
//********************* Styles Navbar

.navbar {
  width: 100vw;
  height: 50px;
  background-color: $light-blue;
  display: flex;
  align-items: center;
  justify-content: center;

  & .navbar__search {
    margin-left: 20px;
    width: 60%;
    background-color: $white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    & input {
      width: 90%;
      height: 30px;
      border: none;
      outline: none;
      border-radius: 20px;
      padding: 0 15px;
      background-color: $white;
    }

    & .icon-search {
      font-size: 1.8rem;
      color: $blue-dark;
    }
  }
}

.navbar--car,
.navbar--favorite {
  font-size: 2.4rem;
  color: $orange;
  margin-left: 18px;
}

// ************************** Styles main Product
main {
  width: 90%;
  margin: 30px auto;
  padding-bottom: 50px;

  & .container-products {
    // background-color: red;
    display: grid;
    justify-content: center;
    // grid-template-columns: 1fr;
    & .mount-products {
      width: 90vw;
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      @include tabletMedia();
      @include desktopMedia();
    }

    & .product-card {
      // background-color: royalblue;
      width: 250px;
      min-width: 220px;
      max-width: 320px;
      height: 170px;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // border: 1px solid black;
      box-shadow: -1px 1px 6px 0px $color-shodow;
      border-radius: 20px;
      background-color: $white;

      & img {
        border-radius: 20px;
        width: 150px;
        height: 60px;
      }

      & h4 {
        font-size: 1.8rem;
        color: $blue-dark;
      }

      & h5 {
        font-size: 1.4rem;
        color: $blue-dark;
        opacity: 0.8;
      }
      & span {
        font-size: 1.2rem;
        color: $orange;
      }

      & .fovorite-car {
        margin-top: 15px;
        width: 60%;
        display: flex;
        justify-content: center;

        & .fovorite-car--favorite {
          font-size: 3rem;
          color: $blue-dark;
        }

        & .fovorite-car--favorite:hover {
          color: $orange;
        }

        & .fovorite-car--car {
          margin-left: 15px;
          font-size: 3rem;
          color: $orange;
        }

        & .fovorite-car--car:hover {
          color: $blue-dark;
        }
      }
    }
  }

  & .container-car-favorite {
    display: grid;
    justify-items: center;

    & .table-car,
    .table-favorite {
      border-collapse: collapse;
      padding: 0;
      width: 100%;
      & .head-table {
        font-size: 1.4rem;
        font-weight: bold;
      }

      & tr {
        font-size: 1.2rem;
        font-weight: normal;

        &:nth-child(even) {
          background-color: $light-blue;
        }
      }
      & th,
      td {
        padding: 5px 15px;
      }
    }
  }
}

.cart-vacio {
  color: $orange;
}
.table-car,
.table-favorite {
  display: none;
}
// .table-active {
//   display: table;
// }
.table-favorite--active,
.table-active {
  display: table;
  width: 340px;
  text-align: center;
}

.btn-delete--favorite {
  border: none;
  background-color: $orange;
  width: 17px;
  height: 17px;
  text-align: center;
  color: $white;
  font-weight: 500;
}

.btn-add,
.btn-subtract {
  border: none;
  width: 15px;
  height: 15px;
  background-color: $orange;
  color: $white;
  font-weight: 500;
  text-align: center;
}
.btn-add {
  background-color: $blue-dark;
}

.empty-car {
  width: 100px;
  height: 25px;
  background-color: $orange;
  color: $white;
  font-weight: 500;
  text-align: center;
  border: none;
  border-radius: 20px;
}
// ************************** Styles Footer
.footer {
  width: 100vw;
  height: 60px;
  position: fixed;
  bottom: 0;
  // margin-top: 30px;
  background-color: $light-blue;
  display: flex;
  justify-content: center;
  align-items: center;

  & .footer--icon-github,
  .footer--icon-twitter,
  .footer--icon-instagram {
    font-size: 2.8rem;
    margin-left: 25px;
    color: $orange;
  }
}
